* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
	background-size: auto 100vh;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	color: whitesmoke;
	height: 100vh;
}

/* Se a tela tiver pelo menos 400px vai carregar esses estilos*/
@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}

@media (min-width: 600px) {
	body {
		font-size: 20px;
	}
}

header {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu {
	background-image: linear-gradient(to left, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 80%);
	position: fixed;
	width: 100vw;
	top:0;
	z-index: 1;
}

.menu a {
	display: block;
	padding: 20px;
	transition: background-color, color, 1s;
}

.menu a:hover{
	background-color: whitesmoke;
	color: #fa796b;
}

.menu ul {
	display: flex;
	justify-content: space-around;
}

.menu li {
	list-style: none;
	
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.site-subtitle,
.site-title {
	color: whitesmoke;
	text-align: center;
}

.site-title {
	font-size: 4em;
	font-family: 'Source Code Pro', monospace;
}

.site-subtitle {
	font-style: italic;
}

.contato,
.portfolio {
	padding: 2em;
	min-height: 100vh;
}

.contato h1,
.portfolio h1 {
	font-family: 'Source Code Pro', monospace;
	font-size: 2em;
	margin: 1em;
}

.portfolio .grid {
	display: grid;
	justify-content: center;
	align-content: center;
	gap: 1em;
	min-height: calc(100vh - 10em);
}

@media (min-width: 765px) {
	.portfolio .grid {
		grid-template-columns: 350px 350px;
	}
}

@media (min-width: 1135px) {
	.portfolio .grid {
		grid-template-columns: repeat(3,350px);
		height: calc(100vh -10em);
	}
}

.portfolio figure {
	text-align: center;
}

.img-portfolio{
	width: 240px;
	height: 180px;
	object-fit: cover;
	transform: scale(1);
	transition: transform 500ms;
}

.img-portfolio:hover {
	transform: scale(1.5);
}

.contato a {
	font-size: 4em;
	transition: text-shadow, 1s;
}

.contato a:active,
.contato a:hover {
	text-decoration: none;
	text-shadow: 0px 0px 10px whitesmoke;
}

.contato .icons {
	text-align: center;
}